In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("degree_of_freedom.csv")
data.head()

,Country/Territory,Region,C/T,Edition,Status,PR rating,CL rating,A1,A2,A3,...,F3,F4,F,G1,G2,G3,G4,G,CL,Total
0,Abkhazia,Eurasia,t,2022,PF,5,5,2,2,1,...,1,1,4,1,1,2,1,5,23,40
1,Afghanistan,Asia,c,2022,NF,7,6,0,0,0,...,0,0,0,0,1,0,1,2,9,10
2,Albania,Europe,c,2022,PF,3,3,3,3,3,...,2,3,9,3,2,2,2,9,39,67
3,Algeria,Africa,c,2022,NF,6,5,1,1,1,...,2,2,6,2,2,2,1,7,22,32
4,Andorra,Europe,c,2022,F,1,1,4,4,4,...,4,3,15,4,4,3,4,15,55,93

In [5]:
countries = data["Country/Territory"].to_list()
region = data["Region"].to_list()
status = data["Status"].to_list()

country_dict = {c: (r, s) for c, r, s in zip(countries, region, status)}

In [ ]:
life_expect = pd.read_csv("LifeExpectancyData.csv")
countries = life_expect["Country"].to_list()
countries_region = [country_dict[c][0] for c in countries]
countries_status = [country_dict[c][1] for c in countries]
df = pd.DataFrame()
df["Countries"] = countries
df["Region"] = countries_region
df["Status"] = countries_status